<div class="container mb-5">
    <h1 class="mt-5 mb-5">Entre em Contato Conosco</h1>
    <form>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="nome" class="form-control" id="nome" placeholder="Digite seu Nome">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea class="form-control" id="mensagem" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-dark" type="submit">Enviar</button>
    </form>
</div>